<config>
    <modules>
        <Busteco_Collections>
            <version>0.0.1</version>
        </Busteco_Collections>
    </modules>
    <global>
        <models>
            <collections>
                <class>Busteco_Collections_Model</class>
            </collections>
        </models>
        <blocks>
            <collections>
                <class>Busteco_Collections_Block</class>
            </collections>
        </blocks>
        <resources>
            <collections_setup>
                <setup>
                    <module>Busteco_Collections</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </collections_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <collections>
                <use>standard</use>
                <args>
                    <module>Busteco_Collections</module>
                    <frontName>produse</frontName>
                </args>
            </collections>
        </routers>
        <layout>
            <updates>
              <collections>
                <file>busteco_collections.xml</file>
              </collections>
            </updates>
        </layout>
    </frontend>
</config>